*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styles */
nav {
  background-color: #ff7a78;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.menuOptions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.menuOptions a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 40px;
}

.menuBar {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 60px;
}

/* Hero section styles  */
.heroSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-content {
  background: linear-gradient(to right, #fff1b8, #ffd6cc);
  padding: 130px 105px;
}

.hero-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.hero-content p {
  font-family: "Lora", serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin-bottom: 50px;
}

.heroSection img {
  height: auto;
  object-fit: cover;
}

.hero-content button {
  padding: 15px 80px;
  color: white;
  background-color: #ff7a78;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .menuOptions ul {
    flex-direction: row;
    gap: 50px;
  }
}

@media screen and (min-width: 992px) {
  .heroSection {
    flex-direction: row;
    text-align: start;
  }

  .heroSection img {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    padding: 10px 40px;
    justify-content: center;
  }

  .menuOptions ul {
    justify-content: center;
    gap: 80px;
  }
}
