*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styles */
nav {
  background-color: #ff7a78;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.menuOptions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.menuOptions a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 40px;
}

.menuBar {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 60px;
}



@media screen and (min-width: 576px) {
  .menuOptions ul {
    flex-direction: row;
    gap: 50px;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    padding: 10px 40px;
    justify-content: center;
  }

  .menuOptions ul {
    justify-content: center;
    gap: 80px;
  }
}