*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styles */
nav {
  background-color: #ff7a78;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.menuOptions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.menuOptions a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 40px;
}

.menuBar {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 60px;
}

/* styles for hero section */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #fff1b8 0%, #f6d2bf 45%, #f3c1e6 100%);
}

.hero-intro {
  width: 100%;
  padding: 100px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: "Montserrat", sans-serif;
}

.hero-intro h1 {
  font-size: 30px;
  letter-spacing: 5px;
}

.hero-intro p {
  line-height: 1.6;
  font-weight: 450;
}

.hero-intro button {
  padding: 20px 80px;
  background-color: #ff7a78;
  border: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: center;
}

/* footer styles  */
.footer-content {
  background: linear-gradient(90deg, #fff1b8 0%, #f6d2bf 45%, #f3c1e6 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 20px 40px;
}

.leftImages {
  width: 50%;
  /* height: 300px; */
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: 50% 50%; */
  gap: 10px;
}

.leftImages img {
  width: 100%;
  height: 248px;
  object-fit: cover;
  object-position: center;
}

.rightImages {
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.footer-intro {
  background-color: #ff7a78;
  font-family: "Montserrat", sans-serif;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-intro img {
  width: 20px;
}

@media screen and (min-width: 576px) {
  .menuOptions ul {
    flex-direction: row;
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }

  .footer-images {
    width: 60%;
    height: 667.688px;
    padding: 80px 40px;
    
  }

  .footer-intro {
    width: 35%;
  }

  .footer-intro h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  .hero-content {
    flex-direction: row;
  }

  .hero-intro {
    width: 50%;
    text-align: start;
    align-items: start;
    gap: 60px;
  }

  .hero-image {
    width: 50%;
  }

  .hero-intro h1 {
    font-size: 50px;
    letter-spacing: 6px;
  }
  
}

@media screen and (min-width: 1200px) {
  nav {
    padding: 10px 40px;
    justify-content: center;
  }

  .menuOptions ul {
    justify-content: center;
    gap: 80px;
  }

  .hero-intro {
  }
}
